*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    font-size: 1rem;
    width: 600px;
}

:root{
    --primary-color:rgb(0, 190, 219);
    --secondary-color:#df6e12;
    --warning-color:yellow;
    --danger-color:red;
    --primary-font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --primary-radius:.2rem
}

/* General CSS */

button{
    background: none;
    padding: .5rem;
    outline: none;
    background-color: var(--primary-color);
    border-radius: var(--primary-radius);
    font-family: var(--primary-font);
    color: white;
}

button:hover{
    cursor: pointer;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}
.brand{
    display: flex;
    align-items: center;
}

.header .logo{
    width: 40px;
    height: 40px;
}

.header .logo img{
    margin-top: 2px;
    width: 100%;
    height: 100%;
    border-radius: var(--primary-radius)}
.btn-container{
    display: flex;
    justify-content: center;
}
#message{
    padding: .5rem;
    border: 2px dashed red;
    border-radius: var(--primary-radius);
    width: max-content;
    margin: 1rem auto;
    
}
#message p{
    max-inline-size: 50ch;
  text-wrap: balance;
}


.followers-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.follower-count{
    width: 10rem;
    background-color: var(--secondary-color);
    padding: .2rem;
    border-radius: var(--primary-radius);
    color: #FFF;
}
